html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .875rem;
  text-align: center;
}

.btn {
  color: #fff;
  text-decoration: none;
  background-color: #666;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
  font-size: 1.125em;
}

.btn-subtle {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
  padding: .4em;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
  font-size: 1.125em;
}

.btn-ghost {
  color: #666;
  text-decoration: none;
  background-color: #fff;
  border-width: 3px;
  padding: .4em;
  border-radius: 8px;
  font-size: 1.125em;
  display: inline;
  border-color: #666;
}

.btn-warning {
  color: #fff;
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
  font-size: 1.125em;
  padding: .4em;
  background-color: #f33;
  display: inline-block;
}

.btn-small {
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  background-color: #666;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
}

.btn-subtle  {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 0.875em;
}

.btn-ghost {
  color: #666;
  text-decoration: none;
  background-color: #fff;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 0.875em;
}

.btn btn-warning btn-small {
  color: #fff;
  text-decoration: none;
  background-color: #f33;
  padding: .3em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 0.875em;
}

.btn btn-big {
  color: #fff;
  text-decoration: none;
  background-color: #666;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5em;
}

.btn btn-subtle btn-big {
  color: #fff;
  text-decoration: none;
  background-color: #ccc;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5em;
}

.btn btn-ghost btn-big {
  color: #666;
  text-decoration: none;
  background-color: #fff;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5em;
}

.btn btn-warning btn-big {
  color: #fff;
  text-decoration: none;
  background-color: #f33;
  padding: .75em;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5em;
}

.btn:hover {
  background-color: #666;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #666;
}

.btn btn-small:hover {
  background-color: #666;
}

.btn btn-subtle btn-small:hover {
  background-color: #666;
}

.btn btn-ghost btn-small:hover {
  background-color: #666;
}

.btn btn-warning btn-small:hover {
  background-color: #666;
}

.btn btn-big:hover {
  background-color: #666;
}

.btn btn-subtle btn-big:hover {
  background-color: #666;
}

.btn btn-ghost btn-big:hover {
  background-color: #666;
}

.btn btn-warning btn-big:hover {
  background-color: #666;
}
